// Suggested accounts
.wrapper {
  border-top: 1px solid #ccc;
}

.lable {
  margin: 12px 0;
  font-size: 1.6rem;
}

// Account item
.account-item {
  display: flex;
  cursor: pointer;
  padding: 8px 0;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.item-info {
  flex: 1;
  margin-left: 12px;
}

.nickname {
  font-size: 1.6rem;
  color: #161823;
}

.name {
  font-size: 1.2rem;
  opacity: #161823bf;
}

.see-all {
  margin-top: 8px;
  padding-bottom: 12px;
  font-weight: 500;
  color: var(--primary);
  cursor: pointer;
}

// Preview
