/* AccountIem.module.scss */
.check {
  margin-left: 8px;
  color: rgb(32, 213, 236);
}

.icon {
  margin-right: 8px;
}

.loading {
  position: absolute;
  right: 68px;
  top: 50%;
  /* transform: translateY(-50%); */
  color: rgb(22, 24, 35, 0.34);
  outline: none;
  border: none;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.preview-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
